{% extends '../base.html' %}

{% load socialaccount %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="border rounded p-4">
                    <h1 class="text-center">Login</h1>
                    <form method="post" class="text-center">
                        {% csrf_token %}
                        {{ form.non_field_errors|as_crispy_errors }}
                        <div class="form-group">
                            <label for="{{ form.identifier.id_for_label }}"></label>
                            {{ form.identifier|as_crispy_field }}
                            {% if form.identifier.errors %}
                                <div class="invalid-feedback">
                                    {% for error in form.identifier.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.password.id_for_label }}"></label>
                            {{ form.password|as_crispy_field }}
                            {% if form.password.errors %}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group form-check">
                            {{ form.captcha }}
                            <label class="form-check-label" for="{{ form.captcha.id_for_label }}">I'm not a robot</label>
                            {% if form.captcha.errors %}
                                <div class="invalid-feedback">
                                    {% for error in form.captcha.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-primary btn-block rounded-pill">Sign In</button>
                    </form>
                    <div class="text-center mt-3">
                        <a href="{% url 'forget_password' %}">Forgot password? Reset here.</a>
                    </div>
                    <div class="text-center mt-3">
                        <a href="{% url 'register' %}">Don't have an account? Register here.</a>
                    </div>
                    <div class="text-center mt-3">
                        <span>Or Login with:</span>
                        <a href="{% provider_login_url 'google' %}" class="btn btn-danger">Google</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}





{% comment %} 

{% extends '../base.html' %}

{% load socialaccount %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title text-center">Login</h1>
            <form method="post" class="text-center">
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="{{ form.identifier.id_for_label }}">Username or Email</label>
                    {{ form.identifier }}
                </div>   
                
                {% endcomment %}

                {% comment %} 
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">Username</label>
                    {{ form.username }}
                </div>  
                {% endcomment %}

                {% comment %} 
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">Email</label>
                    {{ form.email }}
                </div>   
                {% endcomment %}

                {% comment %}                 

                <div class="form-group">
                    <label for="{{ form.password.id_for_label }}">Password</label>
                    {{ form.password }}
                </div>
                <div class="form-group">
                    <label for="{{ form.captcha.id_for_label }}">Captcha</label>
                    {{ form.captcha }}
                </div>  
                <button type="submit" class="btn btn-primary btn-block rounded-pill">Sign In</button>
            </form>
            <div class="text-center mt-3">
                <a href="{% url 'forget_password' %}">Forgot password? Reset here.</a>
            </div>
            <div class="text-center mt-3">
                <a href="{% url 'register' %}">Don't have an account? Register here.</a>
            </div>
            <div class="text-center mt-3">
                <span>Or Login with:</span>
                <a href="{% provider_login_url 'google' %}" class="btn btn-danger">Google</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
 {% endcomment %}
