<!DOCTYPE html>
<html>
<head>
    <title>OTP Email Verification</title>
</head>
<body>
    <p>Dear {{ user.get_username|capfirst }},</p>
    <p>Thank you for signing up with our service.
    To complete your registration, please use the OTP provided below:</p><br/>
    <h2>OTP: {{ otp }}</h2><br/>
    <p>This OTP is valid for 15 minutes.</p>
    <p>If you didn't request this verification email, please ignore it.</p>
    <p>Best regards,<br>Softglobal Team</p>
</body>
</html>


email_otp_verification.html
