{% extends '../base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-6">
                <div class="border rounded p-4">
                    <h1 class="text-center">Reset Password</h1>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="form-group">
                            <label for="{{ form.email.id_for_label }}"></label>
                            {{ form.email|as_crispy_field }}
                            {% for error in form.email.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-primary  rounded-pill">Send Reset Email</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
