{% extends '../base.html' %}


{% load crispy_forms_tags %}

{% block content %}
<!-- reset_password_email.html -->
<div class="container">
    <p>Hello {{ user.first_name }},</p>

    <p>You have requested to reset your password for your e-Trader API account. Click the link below to reset your password:</p>

    <p><a href="{{ reset_password_url }}">Reset Password</a></p>

    <p>If you did not initiate this password reset, please ignore this email.</p>

    <p>Best regards,</p>
    
    <p>The e-Trader API Team</p>
</div>

{% endblock %}


