{% extends '../base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<style>
    @media print {
        table {
            page-break-inside: avoid;
        }

        .chart-container {
            page-break-before: always;
        }
    }
</style>

<div class="container">
    <h1 class="text-center">Admin Dashboard</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Metrics</th>
                <th>Values</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Total Profit</td>
                <td>{{ admin_dashboard_data.total_profit }}</td>
            </tr>
            <tr>
                <td>Total Loss</td>
                <td>{{ admin_dashboard_data.total_loss }}</td>
            </tr>
            <tr>
                <td>Highest Profit Trader</td>
                <td>{{ admin_dashboard_data.highest_profit_trader | title }}</td>
            </tr>
            <tr>
                <td>Lowest Profit Trader</td>
                <td>{{ admin_dashboard_data.lowest_profit_trader | title }}</td>
            </tr>
            <tr>
                <td>Timestamp</td>
                <td>{{ admin_dashboard_data.timestamp }}</td>
            </tr>
        </tbody>
    </table>

    <div class="text-center mt-3">
        <button class="btn btn-primary" onclick="switchChart('bar')">Bar Chart</button>
        <button class="btn btn-primary" onclick="switchChart('pie')">Pie Chart</button>
    </div>

    <div class="chart-container">
        <canvas id="chart" width="720" height="480"></canvas>
    </div>

    <script>
        const totalProfit = {{ admin_dashboard_data.total_profit }};
        const totalLoss = {{ admin_dashboard_data.total_loss }};

        const ctx = document.getElementById('chart').getContext('2d');
        let chart;

        function createBarChart() {
            chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Total Profit', 'Total Loss'],
                    datasets: [{
                        label: 'Metrics',
                        data: [totalProfit, totalLoss],
                        backgroundColor: ['rgba(75, 192, 192, 0.2)', 'rgba(255, 99, 132, 0.2)'],
                        borderColor: ['rgba(75, 192, 192, 1)', 'rgba(255, 99, 132, 1)'],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        x: {
                            display: true,
                            title: {
                                display: true,
                                text: 'Metrics'
                            }
                        },
                        y: {
                            display: true,
                            title: {
                                display: true,
                                text: 'Values'
                            },
                            beginAtZero: true
                        }
                    }
                }
            });
        }

        function createPieChart() {
            chart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['Total Profit', 'Total Loss'],
                    datasets: [{
                        label: 'Metrics',
                        data: [totalProfit, totalLoss],
                        backgroundColor: ['rgba(75, 192, 192, 0.2)', 'rgba(255, 99, 132, 0.2)'],
                        borderColor: ['rgba(75, 192, 192, 1)', 'rgba(255, 99, 132, 1)'],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        x: {
                            display: false
                        },
                        y: {
                            display: false
                        }
                    }
                }
            });
        }

        function switchChart(type) {
            if (chart) {
                chart.destroy();
            }

            if (type === 'bar') {
                createBarChart();
            } else if (type === 'pie') {
                createPieChart();
            }
        }

        createBarChart();
    </script>

</div>
<div class="text-right mt-3">
    <a href="{% url 'admin_dashboard_pdf' %}" class="btn btn-primary">PDF</a>
</div>
{% endblock %}








