{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}e-Trader API{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet">
{% comment %}      
    <style>
    html {
        position: relative;
        min-height: 100%;
    }

    body {
        padding-bottom: 100px; 
        padding-top: 120px;
        margin-bottom: 60px; 
    }
        
        .content {
            min-height: calc(100vh - 60px); 
            margin-bottom: -60px; 
        }

        .avatar {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 50%;
    }
        
        .footer {
            position: absolute;
            bottom: 0; 
            width: 100%;
            height: 60px; 
            background-color: #343a40;
            color: #fff; 
            text-align: center;
        }

        .navbar-nav.ml-auto .dropdown-menu {
            right: 0;
            left: auto;
        }

        .input-group-text {
        flex: 0 0 25%;
        max-width: 25%;
        }
    </style> 
     {% endcomment %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <div class="mr-2 text-muted" style="display: inline-block;"> <!-- Date and time starts-->
                <em id="clock"></em>
                <em id="date"></em>
            </div><!-- Date and time ends-->
            <a class="navbar-brand" href="/">e-Trader API</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin_dashboard">Admin Dashboard</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'search' %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control rounded-pill" name="query" placeholder="Search" required>
                        <div class="input-group-append">
                            <button class="btn btn-primary rounded-pill" type="submit" data-toggle="tooltip" data-placement="bottom" title="Search">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        {% if user.is_authenticated %}
                        <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <em id="greetings"></em>, {{user.username | title}}!
                            {% if user.avatar %}
                            {% comment %} <img src="{{ user.avatar.url }}" alt="Avatar" class="avatar" > {% endcomment %}
                            <img src="{{ user.avatar.url }}" alt="Avatar" class="avatar" style="width: 25px; height: 25px; object-fit: cover; border-radius: 50%;">
                            {% endif %}
                        </a>
                        {% else %}
                        <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <em id="greetings"></em>, sign in
                        </a>
                        {% endif %}
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdown">
                            {% if user.is_authenticated %}
                                <a class="dropdown-item" href="/logout">Logout</a>
                                <hr class="dropdown-divider">
                                <a class="dropdown-item" href="/profile">Profile</a>
                                <hr class="dropdown-divider">
                                <a class="dropdown-item" href="/">Doc (Presentation)</a>
                            {% else %}
                                <a class="dropdown-item" href="/login">Login</a>
                                <hr class="dropdown-divider">
                                <a class="dropdown-item" href="/register">Register</a>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="content">
        <div class="container">
            <!-- msg alerts-->
            <div class="container"> 
                {% for message in messages %} 
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert"> 
                    {{ message }} 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
                        <span aria-hidden="true">&times;</span> 
                    </button> 
                </div> 
                {% endfor %} 
            </div>

            {% block content %}
            <h1 class='text-center'>Welcome to e-Trader API!</h1>
            {% endblock %}
        </div>
    </div>
    
    
     {% comment %} <footer class="footer mt-auto py-3 bg-dark text-white">
        <div class="container text-center">
            <span class="text-muted">&copy; 2023 e-Trader API. All rights reserved.</span>
        </div>
    </footer>  {% endcomment %}
    <footer class="footer mt-auto py-3">
        <div class="container text-center">
            <span class="text-muted">&copy; 2023 e-Trader API. All rights reserved.</span>
        </div>
    </footer> 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static './assets/js/main.js' %}"></script>
    {% comment %} <script>
        var myDate = new Date();
        var hrs = myDate.getHours();
        var greet;
        if (hrs < 12) greet = "Good Morning";
        else if (hrs >= 12 && hrs <= 17) greet = "Good Afternoon";
        else if (hrs >= 17 && hrs <= 24) greet = "Good Evening";
        document.getElementById("greetings").innerHTML = greet;

        // Adding Datetime
        function startTime() {
            var today = new Date();
            var hr = today.getHours();
            var min = today.getMinutes();
            var sec = today.getSeconds();
            ap = hr < 12 ? "<span>AM</span>" : "<span>PM</span>";
            hr = hr == 0 ? 12 : hr;
            hr = hr > 12 ? hr - 12 : hr;
            //Add a zero in front of numbers<10
            hr = checkTime(hr);
            min = checkTime(min);
            sec = checkTime(sec);
            document.getElementById("clock").innerHTML =
            hr + ":" + min + ":" + sec + " " + ap;
        
            var months = [
            "Jan",
            "Feb",
            "March",
            "April",
            "May",
            "June",
            "July",
            "Aug",
            "Sep",
            "Oct",
            "Nov",
            "Dec",
            ];
            var days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
            var curWeekDay = days[today.getDay()];
            var curDay = today.getDate();
            var curMonth = months[today.getMonth()];
            var curYear = today.getFullYear();
            var date = curWeekDay + ", " + curDay + " " + curMonth + " " + curYear;
            document.getElementById("date").innerHTML = date;
        
            var time = setTimeout(function () {
            startTime();
            }, 500);
        }
        function checkTime(i) {
            if (i < 10) {
            i = "0" + i;
            }
            return i;
        }
        startTime();
    </script>   {% endcomment %}
</body>
</html>
